@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;600;700&display=swap');

:root {
    /* colour */
    --primary: #9c27b0;
    --darkPrimary: #89119d;
    --secondary: #ffce00;
    --darkSecondary: #d9b51c;
    --white: #fff;
    --black: #000;

    /* font */
    --mainFont: 'Urbanist', sans-serif;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globales */
body {
    background-color: var(--primary);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: 'Arial', sans-serif;
    color: var(--white);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 100rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secondary);
    font-family: var(--mainFont);
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/** Header **/
.header{
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/** Footer **/
.footer {
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text {
    text-align: center;
    font-family: var(--mainFont);
    font: 2rem;
}

/** Nav **/
.nav {
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/* nav__link:last-of-type {
    margin-right: 0;
} */

.nav__link {
    font-family: var(--mainFont);
    font-weight: 700;
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    transition: all ease-in-out .2s;
}

.nav__link:hover,
.nav__link--active {
    color: var(--secondary);
}

/** Grid **/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

/** Productos **/

.producto {
    background-color: var(--darkPrimary);
    padding: 1rem;
    transform: scale(0.9);
    transition: all ease .2s;
}

.producto:hover{
    transform: scale(1);
    -webkit-box-shadow: 0px 0px 17px -1px rgba(46,46,46,1);
    -moz-box-shadow: 0px 0px 17px -1px rgba(46,46,46,1);
    box-shadow: 0px 0px 17px -1px rgba(46,46,46,1);
}

.producto__img {
    width: 100%;
}

.producto__name {
    font-size: 2.5rem;
}

.producto__price {
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--secondary);
}

.producto__name,
.producto__price {
    font-family: var(--mainFont);
    text-align: center;
    line-height: 1.7;
}

/** Graficos **/
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.9);
    -webkit-box-shadow: 0px 0px 17px -1px rgba(46,46,46,1);
    -moz-box-shadow: 0px 0px 17px -1px rgba(46,46,46,1);
    box-shadow: 0px 0px 17px -1px rgba(46,46,46,1);
}

.grafico--camisas {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    transform: scale(1);
    margin: 2rem;
    background-image: url(../img/grafico1.jpg);
}

.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
    grid-column: 1 / 3;
    transform: scale(1);
    margin: 2rem;
}


@media (min-width: 768px) {    
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}


/** NOSOTROS PAGINA **/

.titulo__loja {
    color: var(--white);
}

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .nosotros__img {
        grid-column: 2 / 3;
    }
}

.nosotros__contenido p {
    margin: 1rem;
}

.nosotros__img {
    grid-row: 1 / 2;
    width: 100%;
    padding: 2rem;
    -webkit-box-shadow: 0px 0px 17px -5px rgba(89,89,89,1);
    -moz-box-shadow: 0px 0px 17px -5px rgba(89,89,89,1);
    box-shadow: 0px 0px 17px -5px rgba(89,89,89,1);
}

/** BLOQUES **/

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.bloque {
    text-align: center;
}

.bloque__img{
    width: 17rem ;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.comprar {
    margin-top: 3rem;
}

/** PAGINA DO PRODUTO **/

.camisa__img{
   width: 100%;
   border: 1rem solid var(--darkPrimary);
}

.camisa__contenido p{
    margin: 2rem 1rem;
}

@media (min-width: 750px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        padding: 1.4rem;
    }
}

@media (max-width: 750px) {
    .camisa__img{
        display: block;
        margin: 10px auto;
        width: 70%;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    border: 1rem solid var(--darkPrimary);
    background-color: var(--primary);
    color: var(--white);
    font-family: var(--mainFont);
    padding: 5px;
    appearance: none;
    width: 100%;
}

.formulario__btn {
    background-color: var(--secondary);
    border: none;
    font-size: 2rem;
    font-family: var(--mainFont);
    padding: 1rem;
    border-radius: 10px;
    transition: all ease .2s;
    grid-column: 1 / 3;
}

.formulario__btn:hover{
    background-color: var(--darkSecondary);
    cursor: pointer;
}